body{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Varela Round', sans-serif;
}

.scoreboard{
    height: 600px;
    width: 40%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

h1{
    font-size: 35px;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score{
    height: 30px;
    width: 245px;
    display: flex;
    justify-content: center;
}

.detail{
    height: 80px;
    width: 245px;
    display: flex;
    justify-content: center;
}

.display{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.result{
    height: 120px;
    width: 250px;
    justify-content: center;
}

.final{
    height: 70px;
    width: 230px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.options{
    display: flex;
    flex-direction: row;
}

button{
    height: 40px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 25px;
    transition-duration: 0.2s;
    outline: none;
    font-size: 16px;
}

button:hover{
    background-color: rgb(41, 40, 40);
    color: rgb(255, 255, 255);
}